<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" as="style" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="prefetch" href="https://code.jquery.com/jquery-3.3.1.slim.min.js" as="script" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    <link rel="prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" as="script" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    <link rel="prefetch" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" as="script" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
    <link rel="prefetch" href="https://cdn.jsdelivr.net/npm/vue" as="script" crossorigin="anonymous">
    <title>Azur Lane Fleet 2.0(dev)</title>
    <style>
        .fleet_container {
            background-color: rgb(58, 58, 58);
        }
        
        .ship_container {
            background-color: blue;
        }
        
        .item_container {
            background-color: rgba(0, 0, 148, 0.5);
        }
    </style>
</head>

<body>
    <br>
    <div class="container text-center font-weight-bold text-monospace">
        <h1>Azur Lane Fleet</h1>
    </div>
    <br>
    <!------------------------------------------------------------------------------------------------>
    <div id="AzurLaneFleetApp" class="container m-auto p-0">
        <fleet-container v-for="fleet in fleets" v-bind:key="fleet.id" v-bind:fleet="fleet" v-bind:name="fleet.id">
        </fleet-container>
    </div>
    <!------------------------------------------------------------------------------------------------>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!------------------------------------------------------------------------------------------------>
    <script>
        Vue.component('item-container', {
            props: ['item'],
            template: `
                <button class="container-fluid p-1 bg-dark" v-bind:name="item.id">
                    <div class="container-fluid p-0">
                        <img class="img-fluid bg-info" v-bind:src='item.property["link"]'></img>
                        <div class="d-flex justify-content-center text-nowrap bg-secondary">{{item.property["_name"]}}</div>
                    </div>
                </button>
            `
        })

        Vue.component('ship-container', {
            props: ['ship'],
            template: `
                <div class="d-flex flex-row">
                    <item-container
                        v-for="item in ship.item"
                        v-bind:key="item.id"
                        v-bind:item="item"
                    ></item-container>
                </div>
            `
        })

        Vue.component('fleet-container', {
            props: ['fleet'],
            template: `
                <div class="container-fluid row m-0 p-3">
                    <div class="col">
                        <ship-container 
                            v-for="back_ship in fleet.back_ship" 
                            v-bind:key="back_ship.id" 
                            v-bind:ship="back_ship"
                            v-bind:name="back_ship.id" 
                        ></ship-container>
                    </div>
                    <div class="col">
                        <ship-container 
                            v-for="front_ship in fleet.front_ship" 
                            v-bind:key="front_ship.id" 
                            v-bind:ship="front_ship"
                            v-bind:name="front_ship.id" 
                        ></ship-container>
                    </div>
                </div>
            `
        })

        let fleet_data = buildFleet();

        let ALF = new Vue({
            el: '#AzurLaneFleetApp',
            data: {
                fleets: fleet_data
            }
        });

        function buildFleet() {
            let ship_data = [];
            for (let i = 0; i < 6; i++) {
                let item = [];
                if (i === 0) {
                    let ship = {
                        _name: "SelectShip",
                        link: "ui/empty.png",
                        icon: "",
                        id: "",
                        type: "",
                        star: "",
                        rarity: "",
                        en_name: "",
                        cn_name: "",
                        jp_name: "",
                        render_name: ""
                    };
                    item = ship;
                } else {
                    let eq = {
                        _name: "equip",
                        link: "ui/icon_back.png",
                        icon: "",
                        id: "",
                        type: "",
                        rarity: "",
                        star: "",
                        en_name: "",
                        cn_name: "",
                        jp_name: "",
                        render_name: ""
                    };
                    item = eq;
                }
                ship_data.push({
                    id: i,
                    property: []
                });
                ship_data[i].property = Object.assign({}, item);
            }

            let newfleet = [];
            for (let i = 0; i < 2; i++) {
                let new_ship_data = [];
                let front = [];
                let back = [];
                for (let x = 0; x < 6; x++) {
                    let new_data = [];
                    if (x < 3) {
                        for (let index in ship_data) {
                            let new_value = `fleet_${i}_front_ship${x}_item${index}`;
                            let new_prop = Object.assign({}, ship_data[index].property);
                            new_data.push({
                                id: new_value,
                                property: new_prop
                            });
                        }
                        new_ship_data = {
                            id: `fleet_${i}_front_ship${x}`,
                            item: new_data
                        };
                        front.push(new_ship_data);
                    } else {
                        for (let index in ship_data) {
                            let new_value = `fleet_${i}_back_ship${x}_item${index}`;
                            let new_prop = Object.assign({}, ship_data[index].property);
                            new_data.push({
                                id: new_value,
                                property: new_prop
                            });
                        }
                        new_ship_data = {
                            id: `fleet_${i}_back_ship${x}`,
                            item: new_data
                        };
                        back.push(new_ship_data);
                    }
                }
                newfleet.push({
                    id: `fleet_${i}`,
                    front_ship: front,
                    back_ship: back
                });
            }
            return newfleet
        }
    </script>
</body>

</html>